.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 251;
}
.Search_ber_icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 250;
}
.Shape_2 {
  background-color: rgb(64, 68, 71);
  opacity: 0.451;
  position: absolute;
  left: 1141px;
  top: 176px;
  width: 17px;
  height: 18px;
  z-index: 249;
}
.Notifitcation {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 247;
}
._24 {
  font-size: 14px;
  font-family: "Poppins";
  color: rgba(166, 167, 168, 0.902);
  line-height: 1.929;
  text-align: left;
  position: absolute;
  left: 1206.3px;
  top: 156.497px;
  z-index: 246;
}
.Shape_19 {
  background-color: rgb(64, 68, 71);
  opacity: 0.451;
  position: absolute;
  left: 1193px;
  top: 176px;
  width: 17px;
  height: 18px;
  z-index: 245;
}
.Message {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 243;
}
._5 {
  font-size: 14px;
  font-family: "Poppins";
  color: rgba(166, 167, 168, 0.902);
  line-height: 1.929;
  text-align: left;
  position: absolute;
  left: 1261.963px;
  top: 157.497px;
  z-index: 242;
}
.Shape_21 {
  border-radius: 0px;
  background-color: rgb(64, 68, 71);
  opacity: 0.451;
  position: absolute;
  left: 1244px;
  top: 179px;
  width: 18px;
  height: 13px;
  z-index: 241;
}
.Profile_section {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 239;
}
.Arrow_icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 238;
}
.Shape_22 {
  background-color: rgb(64, 68, 71);
  opacity: 0.302;
  position: absolute;
  left: 1362px;
  top: 182px;
  width: 10px;
  height: 7px;
  z-index: 237;
}
.Profile_image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 235;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(253, 234, 213);
  position: absolute;
  left: 1312px;
  top: 165px;
  width: 40px;
  height: 40px;
  z-index: 233;
}
.Line_shape {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1200px;
  z-index: 230;
}
.Rectangle_8 {
  background-color: rgb(228, 214, 213);
  opacity: 0.8;
  position: absolute;
  left: 450px;
  top: 220px;
  width: 950px;
  height: 1px;
  z-index: 229;
}
